#menu {
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    padding: 0 20%;
    text-align: center;
}

#treeImage {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}


