#Map1 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}

#Map2 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}

#Map3 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}

#Map4 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}

#characterMenu {
    text-align: center;
    margin-left: 30%;
}