#display1 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}

#display2 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}

#display3 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}

#display4 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}

#display5 {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    left: 4%;
}